name: Java CI with Gradle

on:
  pull_request:
  push:
    branches:
      - main

# アクション実行時にリポジトリのコンテンツに対する権限
permissions:
  contents: read

# ワークフロー内のジョブ
jobs:

  # 実行環境と手順を定義
  build:
    name: Create Archive
    runs-on: ubuntu-latest

    # 実行手順
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17 and Gradle 8.1.1
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Set up Gradle 8.1.1
        run: gradle wrapper --gradle-version 8.1.1

      # MySQLサーバーをdocker composeで起動
      - name: Start MySQL Server
        run: docker-compose up -d

      - name: Build with Gradle
        run: ./gradlew test

      # ユニットテスト結果をGitHubにアップロードする
      # if: always()失敗した時も常に実行する
      - name: Archive unit test results
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: unit-test-report
          path: build/reports/tests/test

      # ロケールを日本語に設定する
      - name: Set Locale
        run: |
          sudo locale-gen ja_JP.UTF-8
          sudo update-locale LANG=ja_JP.UTF-8
